@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100dvh;
    background-color: #ececec;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 60%;
    display: block;
    margin: 0 auto;
}
#container {
    width: min(93%, 480px);
    box-shadow: 4px 8px 15px 5px rgba(35,35,35,0.1);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

/* Data In */
.data__in {
    position: relative;
    display: flex;
    column-gap: 0.3rem;
    flex: 1;
}
.data__in > i {
    position: absolute;
    align-self: center;
    font-size: 1.5rem;
    transform: translateX(10px);
}
#search__box{
    font-size: 1.3rem;
    padding: .4rem 0;
    padding-left: 2rem;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(240, 240, 240);
    text-transform: capitalize;
    flex:1;
    width: min-content;
}
.data__in input:focus {
    outline: 1px solid black;
}
.data__in button {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: 0;
    transition: background 400ms ease, color 300ms ease;
}
.data__in button:hover {
    color: #fff;
    background-color: #333;
}
.data__in button i {
    font-size: 1.2rem;
}

/* Data out */
.data__out {
    display: none;
    height: 0;
    transition: height 300ms ease;
    width: 100%;
    margin-top: 1.5rem;
}
.show__data {
    height: min-content;
}
.temp__box h1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.details {
    padding: 0 .2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.details > div  {
    border-radius: .44rem;
    padding: .4rem;
    box-shadow: 0px 4px 10px rgba(35,35,35,0.2);
    display: flex;
    gap: 1rem;
    width: 70%;
}
.details > div > i {
    font-size: 2.5rem;
    align-self: center;
}

.details > div > div p {
    text-transform: capitalize;
    font-size: 1.2rem;
}
.notFound {
    margin-top: 2rem;
    text-align: center;
    display: none;
}
.notFound h1 {
    font-weight: 500;
    margin-bottom: 1rem;
}